{% extends "base.html" %}

{% block content %}
    <h1>{{ object }}
        {% if request.role == object or request.user.is_superuser %}
            (<a href="{% url "rpg:role_edit" object.id %}">редактировать</a>,
            <a href="{% url "rpg:role_relations" object.id %}">связи</a>)
        {% endif %}
    </h1>

    <p><strong>Полное имя</strong>: {{ object.first_name }} {{ object.middle_name }} {{ object.last_name }}</p>
    <p><strong>Возраст</strong>: {{ object.age }}</p>
    <p><strong>Титул/Звание</strong>: {{ object.title }}</p>
    <p><strong>Должность</strong>: {{ object.position }}</p>
    <p><strong>Семейное положение</strong>: {{ object.family_state }}</p>
    <p><strong>Общеизвестная информация</strong>: {{ object.description|safe }}</p>

    {% if request.role == object or request.user.is_superuser %}
        <br>
        <p>Приватная информация:</p>
        <p><strong>Партия</strong>: {{ object.get_party_display|default_if_none:"-" }}</p>
        <p><strong>Военный</strong>: {{ object.get_military_display|default_if_none:"-" }}</p>
        <p><strong>Макаров / Стессель</strong>: {{ object.get_character_1_display|default_if_none:"-" }}</p>
        <p><strong>Вор / честный</strong>: {{ object.get_character_2_display|default_if_none:"-" }}</p>
        <p><strong>Англофилы / русофилы</strong>: {{ object.get_character_3_display|default_if_none:"-" }}</p>
        <p><strong>Революционеры / монархисты</strong>: {{ object.get_character_4_display|default_if_none:"-" }}</p>
        <p><strong>Россия / Япония</strong>: {{ object.get_character_5_display|default_if_none:"-" }}</p>
        <p><strong>Квента</strong>: {{ object.quest|safe|default_if_none:"-" }}</p>
    {% endif %}
{% endblock %}

