{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h1>Роли</h1>

    <table class="roles">
        <tr>
            <th>Персонаж</th>
            <th>&nbsp;</th>
            <th>Возраст</th>
            <th>Должность</th>
            <th>Титул</th>
            <th>Игрок</th>
        </tr>
        {% for role in object_list %}
            <tr class="{% cycle 'tr_odd' 'tr_even' %}">
                <td><a href="{% url "rpg:role" role.id %}">{{ role }}</a></td>
                <td>{% if request.role %}<a href="{% url "messages:talk" role.id %}"><img src="{% static "rpg/i/email.png" %}"></a>
                    {% endif %}</td>
                <td>{{ role.age }}</td>
                <td>{{ role.position }}</td>
                <td>{{ role.title }}</td>
                <td>{% if role.user %}
                    {{ role.user }}
                {% else %}
                    {% if request.role %}-
                        {% else %}
                        <a href="{% url "rpg:role_take" role.id %}" onclick="return confirm('Вы уверены, что хотите занять эту роль?')">занять</a>
                    {% endif %}
                {% endif %}</td>
            </tr>
        {% endfor %}
    </table>

    {% if not request.role %}
        <p>Меня не устраивают существующие роли, я хочу <a href="{% url "rpg:request_new" %}">создать новую</a>.</p>
    {% endif %}

    {% if request.user.is_superuser %}
        <p>
            Ролей: {{ total }}, из них занято: {{ occupied }}.
        </p>
    {% endif %}
{% endblock %}
